# Ignore all bin directories
**/bin/

# Ignore all .vscode directories
**/.vscode/

# Ignore specific files and directories
.zed/settings.json

# Ignore .DS_Store files in any location
**/.DS_Store
*.out
