.vscode/*
NepsAcademy/.vscode/*
NepsAcademy/bin/*
Codeforces/Contests/Round_937_Div4/bin/*
/Codeforces/Contests/Round_938_Div3/bin
/Codeforces/Problemsets/bin
.zed/settings.json
/Codeforces/Contests/Round_939_Div2/bin
/CodeChef/Contests/START130D/bin
/AtCoder/Contests/Beginner350/bin
/AtCoder/Contests/Regular176/bin
/Codeforces/Contests/Round_940_Div2/bin
/TrainingSheet/A/bin
/AtCoder/Contests/Beginner351/bin
Codeforces/Contests/Round_941_Div2/bin/out
Codeforces/Contests/Round_942_Div2/bin/out
/Codeforces/Contests/Round_943_Div3/bin
/Codeforces/Contests/Round_944_Div4/bin
